
$color-grey: #525252;
$header-form-color: rgba(193, 224, 244, 0.4);
$main-font: 16px 'RobotoRegular', sans-serif;
$robotothin: "Roboto-Thin";
$robotobold: "RobotoBold";
$robotolight: "RobotoLight";
$color-grey: #525252;

