@media screen and (max-width: 743px){
	.container{
		max-width: 320px;
	}
	.bread-crumbs{
		display: none;
	}
	/* MOBILE MENU */
	.mobile-menu{
		display: none;
		background: #fff;
		width: 100%;
		position: absolute;
		z-index: 20;
		top: 69px;
		height: 65%;
		li{
			border-bottom: 1px solid #ccc;
			padding: 20px 0 20px 20px;
			&:first-child{
				border-top: 1px solid green;
			}
			a{
				color: #3e3e3e;
				font-size: 14px;
			}

		}
		&__mar{
				margin-right: 15px
			}
	}
	/* MAIN-1 */
	.title-descr{
		margin: 25px auto 0;
	}
	.kind__body{
		padding: 0px 50px;
	}
	.slick-dotted.slick-slider{
		margin-bottom: -15px;
	}
	 .slick-next:hover, .slick-next:focus{
		background: url(../img/next.png);
		width: 15px;
		height: 28px;
		right: 15px;
	}
	.slick-prev:hover, .slick-prev:focus{
		background: url(../img/prev.png);
		width: 15px;
		height: 28px;
	}
	.slick-prev{
		background: url(../img/prev.png);
		width: 15px;
		height: 28px;
		left: 15px;
		position: absolute;
		z-index: 10;
	}
	.slick-next{
		background: url(../img/next.png);
		width: 15px;
		height: 28px;
		right: 15px;
	}
	.slick-prev:before, .slick-next:before{
		content: "";
		color: transparent;
	}

	/* MAIN-2 */
	.main-2 {
		padding-top: 30px;
		.holder-text{
			padding: 0 20px;
		}
		.main-2 .map {
    		margin-top: 25px;
    		img{
    			width: 100%;
    		}
		}
		.map-desk{
			display: none;
		}
		.map-mobile{
			display: block;
		}
	}
	.mobile-img{
		display: block !important;
		text-align: center;
		margin: 30px 0;
	}

	/* MAIN-3 */
	.main-3{
		padding-top: 30px;
		.holder-img__item:not(:first-child){
			display: none;
		}
		.holder-img{
			margin-top: 30px;
		}
	}

	/* MAIN-4 */
	.main-4{
		padding-top: 30px;
		margin-bottom: 0;
		.main-4__mobile-text{
			display: flex;
		    flex-wrap: wrap;
		    flex-direction: column-reverse;
		    padding: 0 20px;
		    text-align: center;
		}
		.main-4__img{
			display: none;
		}
		.main-4__right{
			float: none;
			width: 0;
			margin-top: 20px;
		}
		.main-4__text p {
    		padding-bottom: 25px;
		}
		.main-4__text{
			padding-top: 20px;
			position: static;
			width: 280px;
			color: #525252;
		}
	}

	/* FOOTER */
	.footer{
		.container{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__input{
			max-width: 570px;
			width: 80%;
			margin: 0 auto;
    		display: flex;
		}
		&__button{
			display: block;
			margin: 0 auto;
			margin-top: 20px;
		}
		&__right{
			margin-top: 30px;
		}
		&__copy{
			padding-top: 30px;
			display: flex;
		    flex-wrap: wrap;
		    justify-content: center;
		}
		&__copy-text{
			padding: 10px 0 0;
		}
	}
	/* CHOISE */
	.choise{
		padding: 25px 0 100px;
		
	}
	.banner{
		border-top: 1px solid #ccc;
		margin-top: 70px;
		background: url(../img/banner-mobile.jpg) no-repeat;
		height: 200px;
		background-size: 100%;
		&__title{
			display: none;
		}
		&__text{
			display: none;
		}
	}
	.nav{
		display: none;
	}
	.choise__item{
		padding: 0;
	}
	.header__right{
		display: none;
	}
	.search{
		display: flex;
		margin-left: -50px;
	}
	.search:hover input{
		width: 100px;
	}
	.header{
		justify-content: space-around;
		&__basket{
			padding: 0;
		}
	}
	.burger{
    				display: block;
    			 cursor: pointer;

    			&__item{
				    position: relative;
				    overflow: hidden;
				    width: 10px;
				    height: 18px;
				    font-size: 0;
				    text-indent: -9999px;
				    -webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;
				    box-shadow: none;
				    border-radius: none;
				    border: none;
				    background: none;
    			}

    			&__upper{
			         display: block;
			         position: absolute;
			         top: 3px;
			         width: 100%;
			         left: 0px;
			         right: 0px;
			         height: 2px;
			         background: #ccc;

			    }
			    .cliked{
			     	background: #009247;
			   	}
			    &__mid{
			         display: block;
			         position: absolute;
			         top: 8px;
			         left: 0px;
			         right: 0px;
			         height: 2px;
			         background: #ccc;
			       }
			    &__lower{
			          display: block;
			         position: absolute;
			         top: 13px;
			         left: 0px;
			         right: 0px;
			         height: 2px;
			         background: #ccc;
			    }

    		}
		
	.slick-dots li button{
		border: 3px solid #e1e1e0;
		height: 13px;
		width: 13px;
		border-radius: 50px;
	}
	.slick-dots li button:hover, .slick-dots li button:focus{
		border: 3px solid green;
	}
	.slick-dots{
		bottom: -45px;
	}

	/* BIOFIT CLIENT */
	.biofit-client{
		border: none;
		padding: 0 20px;
		margin-top: 0;
		&__left{
			margin: 11px 0 0;
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #ccc;
		}
		&__right{
			padding: 0;
			border: none;
			border-bottom: 1px solid #ccc;
			width: 300px;
			img{
				width: 300px;
			}
		}
		&__link_text{
			margin-left: 10px;
		}
		&__dose{
			img{
				max-width: 100%;
				height: auto;
			}
		}
		&__link--cart{
			margin-top: 50px;
		}
	}
	.biofit-client-2{
		padding: 0 20px;
		margin: 30px 0;
	}
	/* BIOFFIT ITEM CARD */
	.biofit-item-card{
		border-top: 1px solid #ccc;
		margin-top: 69px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 20px;
		&__left{
			max-width: 743px;
			width: 100%;
			float: none;
		}
		&__right{
			float: none;
			max-width: 743px;
			width: 100%;
			margin-top: 100%;
		}
		&__title{
			position: absolute;
			top: 0;
		}
		&__sub-title{
			position: absolute;
			top: 38px;
		}
		&__img{
			position: absolute;
			top: 72px;
			img{
				max-width: 100%;
				height: auto;
			}
			
		}	
	}
	.biofit-direction{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	/* BIOFFIT CLIENT PAYMENT */
	.order{
		margin-top: 69px;
		border-top: 1px solid #ccc;
		.order-right{
			padding: 0 10px;
			float: none;
			width: 300px;
			clear: both;
			padding-top: 1px;
			&__pad{
				padding: 0;
		}
		
	}
	.order-left{
			padding: 0 3 20px;
			border-right: none ;
			border-bottom: 1px solid #ccc;
			padding-bottom: 20px;
			&__input{
				max-width: 370px;
				width: 63%;
				margin: 0 10px 10px 10px;
			}
			&__title{
				margin: 0;
			}
	}

}
	.cost-product{
			padding: 0 10px;
			margin: 25px 0 25px;
			&__next{
				margin: 25px 0 ;
			}
			&__next-text{
				padding: 0 0 15px 0;
			}

		}
	.mobile-pos-right{
			margin-right: 35%;
		}	
}